    /***************** MENU *****************\
            1.INITIATE
            2.HEADER & NAV
            3.BODY
            4.FOOTER
            5.MEDIA QUERY/MOBILE LAYOUT
            6.UNUSED CODE
    \****************************************/

/********** 1.INITIATE **********/
* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   }

html{
   height: 100%;
   background: linear-gradient(to bottom, rgba(125,107,165,1) 0%,rgba(43,43,61,0.9) 110%);
   background-attachment: fixed;
}

body {
   
   background-image: url(../images/other/controller.svg);
   background-attachment: fixed;
   background-repeat: space;
   padding: 0 120px 0 120px;
   min-height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto ;
}

    /** VARIABLES **/
:root {
    --main-color:#3B3B3B;
}

    /** HOTFIX FOR FLOATING DIVS **/
header::after, .panel::after, .panel-top::after {
    content: '';
    display: table;
    clear: both;
}

/********** 2.HEADER & NAV **********/
header {
    background-color: var(--main-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #333333;
    grid-row-start: 1;
    grid-row-end: 2;

}

header > p {
    color: white;
    float: left;
    line-height: 4em;
    font-weight: bold;
    padding-left: 1em;
}

nav ul {
    list-style: none;
    float: right;
}

nav li {
    display: inline-flex;
    margin: 0 -2px 0 -2px;
    font-weight: bold;
    color: white;
    line-height: 4em;

}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0 1.1em 0 1.1em;
}

nav li:hover{
    background-color: teal;
}

nav a:focus {
    background-color: teal;
}

nav a:active{
    background-color: thistle;
}

.sticky-nav {
	background-color: #ffffff;
	position: sticky;
	top: 0;
  z-index: 3;
  border-right: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: #c70202f5;
}

.list-inline {
	list-style: none;
	padding: 10px;
  text-align: center;
  
}

.list-inline > li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.list-inline > li a:visited {
  color:black;
}

.list-inline > li {
	display: inline-block;
  padding: 0px 30px 0px 30px;
  
}

.list-inline > li:before {
	content: ""; 
	position: absolute; 
}

/********** 3.BODY **********/

.body-content {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
}
.panel {
    overflow: hidden;
    border-radius: 3px;
    padding: 29px 0 29px 0;
    background-color: rgb(248, 248, 248);
    border: solid 1px rgb(211, 211, 211);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-row-end: 3;
}

/********** 4.TIMELINE **********/

.timeline {
  position: relative;
  width: 100%;
  max-width: 97%;
  margin: 0 auto;
  box-sizing: border-box;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #c70202f5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  box-sizing: border-box;
}

.timeline-header {
  margin-left: 45px;
  padding-left: 10px;
  box-sizing: content-box;
}

.container {
  padding: 21px 21px 21px 21px;
  position: relative;
  background: inherit;
  width: 50%;
  box-sizing: border-box;
  
}

.container.left {
  left: 0;
  box-sizing: border-box;
  margin-bottom: -115px;
}

.container.right {
  left: 50%;
  box-sizing: border-box;
  padding: 21px 21px 21px 21px;
  margin-bottom: -115px;
  
}

.container.top {
    box-sizing: border-box;
    padding: 0 150px 0 150px;
    width: 100%;
    z-index: 2;
  }

.container.bottom {
  margin-bottom: 0;
}

.container.top .content {
    padding: 20px 30px 150px 30px;
    box-sizing: border-box;
  }
.container.top .icon {
    left: calc(50% - 33px);
    top: 600px;
    width: 65px;
    height: 65px;
    line-height: 25px;
    background-size: 50px;
  }

.container.top .year {
    left: calc(50% - 37px);
    top: 550px;
  }

.container.top::after{
    visibility: hidden;
  }

.container.top::before{
    left: calc(50% - 25px);
    top: 680px;
    transform: rotate(90deg);
  }

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 10px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #c70202f5;
  border-radius: 16px;
  z-index: 1;
  box-sizing: border-box;
}

.container.right::after {
  left: -8px;
  box-sizing: border-box;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 3px);
  right: 8px;
  background: #c70202f5;
  z-index: 1;
  box-sizing: border-box;
}

.container.right::before {
  left: 8px;
  box-sizing: border-box;
}

.container .year {
  position: absolute;
  display: inline-block;
  top: calc(50% - 26px);
  text-align: center;
  font-size: 2em;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  box-sizing: border-box;
}

.container.left .year {
  right: -93px;
  box-sizing: border-box;
  text-align: left;
}

.container.right .year {
  left: -93px;
  box-sizing: border-box;
  text-align: right;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: calc(50% - 22px);
  background: #c70202f5;
  border: 2px solid #c70202f5;
  border-radius: 9px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
  box-sizing: border-box;
  background-repeat:no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.container.left .icon {
  right: 35px;
  box-sizing: border-box;
}

.container.right .icon {
  left: 35px;
  box-sizing: border-box;
}
#light-bulb {
  background-image: url(../images/icons/light-bulb.svg)
}

#pong {
  background-image: url(../images/icons/pong.svg);
}

#microchip {
  background-image: url(../images/icons/microchip.svg);
}

#invader {
  background-image: url(../images/icons/invader.svg)
}

#novosel {
  background-image: url(../images/icons/novoselmushroom.svg)
}

#joystick {
  background-image: url(../images/icons/joystick.svg);
}

#hedgehog {
  background-image: url(../images/icons/sonic.svg)
}

#cd-rom {
  background-image: url(../images/icons/game-cd.svg)
}

#ps-icn {
  background-image: url(../images/icons/ps_icon.svg);
}

#threed-icn {
  background-image: url(../images/icons/3d-icon.svg);
}
#eth-icn {
  background-image: url(../images/icons/ethernet-icon.svg);
}

#xbx-icn {
  background-image: url(../images/icons//xbx-icon.svg)
}

#hd-icn {
  background-image: url(../images/icons/hd-icon.svg)
}

#headset {
  background-image: url(../images/icons/headset.svg);
}

#multiplayer {
  background-image: url(../images/icons/online-game.svg);
}

#fourk-icn {
  background-image: url(../images/icons/4k-icon.svg);
}

.container .content {
  padding: 24px 65px 23px 23px;
  background: #ffffff;
  position: relative;
  border: 1px solid #00000013;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container.right .content {
  padding: 24px 15px 23px 65px;
  box-sizing: border-box;
}

.container .content h2 {
  margin: 5px 0 5px 0;
  font-size: 18px;
  font-weight: normal;
  color: #c70202f5;
  box-sizing: border-box;
}

.container .content p {
  margin: 0;
  font-size: 0.85vw;
  line-height: 2w;
  color: #000000;
  box-sizing: border-box;
  padding-bottom: 16px;
}

.container .content span {
  margin: 0;
  font-size: 12px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  box-sizing: border-box;
}

.container .content span a {
  font-weight:normal;
}

figcaption .source-link {
  font-style: italic;
  vertical-align: super;
  font-size: 10px;
  text-decoration: none;
}

#brown-box {
  width: 25%;;
  border: 1px solid #00000015;
  float: right;
  margin: 1%;
  box-sizing: border-box;
  max-width: 180px;
}

#brown-box img {
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

#brown-box figcaption {
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;

}

#odyssey-box, #et-box {
  width: 40%;;
  border: 1px solid #00000015;
  float: right;
  margin: 1%;
  box-sizing: border-box;
  text-align: center;
  max-width: 180px;
}

#odyssey-box img, #et-box img{
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

#odyssey-box figcaption, #et-box figcaption {
  padding: 0 5px 5px 5px;
  font-size: 11px;
  font-weight: bold;

}

#et-box {
  width:25%;
}


@media (max-width: 768px) {
  
  body {
    padding: 0 40px 0 40px;
  }

  .timeline::after {
    left: 35px;
  }

  .container {
    width: 100%;
  }

  .container.top {
    padding: 0 0 0 0;
  }

  .container.right {
    left: 0%;
  }

  .container.right, .container.left {
    margin-bottom: -25px;
    padding-left: 73px;
    padding-right: 5px;
  }

  .container.top::after {
    left: 10px;
  }

  .container.left::after, .container.right::after {
    top: 75px;
    left: 27px;
  }

  .container.top::before{
    left: -277px;
    top: 380px;
    width: 624px;
    height: 2px;
  }
  .container.left::before, .container.right::before {
    top: 82px;
    left: 35px;
    border-color: transparent #c70202f5 transparent transparent;
  }

  .container.top .year {
    left: 10px;
    top: 90px;
    font-size: 16px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
}

  .container.left .year, .container.right .year {
    right: auto;
    top: 117px;
    left: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
  }

  .container.top .icon {
    top: 29px;
    left: 10px;
    height: 50px;
    width: 50px;
    background-size: 40px;
  }

  .container.left .icon, .container.right .icon {
    right: auto;
    left: 85px;
    top: 63px;
  }

  .container.top .content {
    padding: 20px 30px 30px 69px;
    box-sizing: border-box;
  }

  .container.left .content, .container.right .content {
    padding: 30px 15px 30px 60px;
  }

  .container .content p {
    font-size: 12px;
  }

  #odyssey-box, #et-box {
    max-width: 90px;
  }

  .list-inline > li {
    padding: 0px 5px 0px 5px;
  }

  .list-inline > li a {
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 420px) {

  body {
    padding: 0 0 0 0;
  }

  .panel {
    margin: 0px 5px 5px 5px;
    padding: 5px 0 29px 0;
  }

  .timeline::after {
    left: 22px;
  }

  .container {
    width: 100%;
  }
  .container.top {
    padding: 0 0 0 0;
  }

  .container.right {
    left: 0%;
  }

  .container.right, .container.left {
    margin-bottom: -25px;
    padding-left: 46px;
    padding-right: 1px;
  }
  .container.top::after {
    left: 10px;
  }
  .container.left::after, 
  .container.right::after {
    top: 39px;
    left: 14px;
    z-index: 2;
  }

  .container.top::before{
    left: -359px;
    top: 433px;
    width: 762px;
    height: 2px;
  }

  .container.left::before, .container.right::before {
    top: 46px;
    left: 25px;
    border-color: transparent #c70202f5 transparent transparent;
  }

  .container.top .year {
    left: 4px;
    top: 69px;
    font-size: 10px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
  }

  .container.left .year, .container.right .year {
    right: auto;
    top: 62px;
    left: 4px;
    font-size: 10px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
  }

  .container.top .icon {
    top: 31px;
    left: 5px;
    height: 36px;
    width: 36px;
    background-size: 25px;
  }

  .container.left .icon, .container.right .icon {
    right: auto;
    left: 54px;
    top: 32px;
    height: 30px;
    width: 30px;
    background-size: 25px;
  }

  .container.top .content {
    padding: 10px 10px 30px 45px;
    box-sizing: border-box;
  }

  .container.left .content, .container.right .content {
    padding: 10px 10px 0px 43px;
  }

  .container .content p {
    font-size: 10px;
  }

  .container .content h1 {
    font-size: 20px;
  }

  .container .content h2 {
    font-size: 12px;
  }

  .container .content span {
    font-size: 10px;
    line-height: 24px;
  }

  #odyssey-box, #et-box {
    max-width: 90px;
  }

  #brown-box {
    width: 130px;
  }

  #brown-box figcaption, #odyssey-box figcaption, #et-box figcaption {
    padding: 0 2px 2px 2px;
    font-size: 8px;
  }

    figcaption .source-link {
      font-size: 7px;
  }

  .sticky-nav {
    margin: 0 5px;

  }
  .list-inline {
    list-style: none;
    padding: 5px 5px 7px 5px;
    text-align: center;
  }

  .list-inline > li {
    padding: 0px 2px 0px 2px;
  }

  .list-inline > li a {
    font-weight: 700;
    font-size: 8px;
  }
}

footer{
    background-color: var(--main-color);
    color: white;
    display: inline-flex;
    grid-row-start: 3;
    grid-row-end: 4;
}
.ftleft {
    width: 100%;
    text-align: left;
    padding: 1em;
}
.ftright {
    width: 100%;
    text-align: right;
    padding: 1em;
}