* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family:BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

html{
   height: 100%;
   background: linear-gradient(to bottom, rgba(125,107,165,1) 0%,rgba(43,43,61,0.9) 110%);
   background-attachment: fixed;
}

body {
   background-image: url(../images/other/controller.svg);
   background-attachment: fixed;
   background-repeat: space;
   padding: 0 7.5% 0 7.5%;
   min-height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto ;
}

header::after, .panel::after, .panel-top::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-color: #3B3B3B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #333333;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
}

header > p {
  color: white;
  float: left;
  line-height: 80px;
  font-weight: bold;
  padding-left: 8px;
  font-size: 1em;
}

nav li i {
  color: white;
  padding-right: 8px;
}

header nav ul {
    list-style: none;
    float: right;
}

header nav li {
    display: inline-flex;
    margin: 0 -2px 0 -2px;
    font-weight: bold;
    color: white;
    line-height: 4em;
}

header nav a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0 20px 0 20px;
    line-height: 80px;
    border-left: 1px;
    border-style: solid;
    border-color: #bebebe;
}

header nav li:hover{
    background-color: teal;
}

header nav a:focus {
    background-color: teal;
}

header nav a:active{
    background-color: thistle;
}

.sticky-nav {
	background-color: transparent;
	position: sticky;
	top: 0;
  z-index: 3;
}

.list-inline {
	list-style: none;
	padding: 0px 10px;
  text-align: center;
  
}

.list-inline > li a {
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  display: block;
  width: 100%;
}

.list-inline > li a:visited {
  color:black;
}

.list-inline li a:hover, .list-inline li a:focus {
  color: #FFFFFF;
  background-color:#c70202f5;
}

.list-inline > li {
  display: inline-block;
  border-bottom: 2px;
  border-right: 2px;
  border-top: 2px;
  border-style: solid;
  border-color: #c70202f5;
  margin-right: -4px;
  margin-left: -1px;
  box-sizing: border-box;
  width: 120px;
  background-color: #ffffff;
}

.first-listitem {
  border-left: 2px;
  border-style: solid; 
  border-color: #c70202f5; 
}

.list-inline > li:before {
	content: ""; 
	position: absolute; 
}

header img {
  height: 70px;
  display: block;
  float: left;
  padding: 4px 5px 6px 10px;
}

.main-content {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  border: solid 1px rgb(211, 211, 211);
  border-top-width: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.panel {
    overflow: hidden;
    padding: 0 0 29px 0;
    grid-row-end: 3;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 97%;
  margin: 10px auto 0 auto;
  box-sizing: border-box;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #c70202f5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  box-sizing: border-box;
}

.timeline-header {
  margin-left: 45px;
  padding-left: 10px;
  box-sizing: content-box;
}

.container {
  padding: 21px 21px 21px 21px;
  position: relative;
  background: inherit;
  width: 50%;
  box-sizing: border-box;
}

.container.left {
  left: 0;
  box-sizing: border-box;
  margin-bottom: -115px;
}

.container.right {
  left: 50%;
  box-sizing: border-box;
  padding: 21px 21px 21px 21px;
  margin-bottom: -115px;
}

.container.top {
    box-sizing: border-box;
    padding: 0 150px 0 150px;
    width: 100%;
    z-index: 2;
}

.container.bottom {
  margin-bottom: 0;
}

.container.top .content {
    padding: 20px 30px 120px 30px;
    box-sizing: border-box;
}

.container.top .icon {
    left: calc(50% - 33px);
    top: calc(100% - 90px);
    width: 65px;
    height: 65px;
    line-height: 25px;
    background-size: 50px;
}

.container.top .year {
    left: calc(50% - 37px);
    top: calc(100% - 134px);
}

.container.top::after{
    visibility: hidden;
}

.container.top::before{
    left: calc(50% - 25px);
    top: calc(100% - 25px);
    transform: rotate(90deg);
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 10px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #c70202f5;
  border-radius: 16px;
  z-index: 1;
  box-sizing: border-box;
}

.container.right::after {
  left: -8px;
  box-sizing: border-box;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 3px);
  right: 8px;
  background: #c70202f5;
  z-index: 1;
  box-sizing: border-box;
}

.container.right::before {
  left: 8px;
  box-sizing: border-box;
}

.container .year {
  position: absolute;
  display: inline-block;
  top: calc(50% - 26px);
  text-align: center;
  font-size: 2em;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  box-sizing: border-box;
}

.container.left .year {
  right: -93px;
  box-sizing: border-box;
  text-align: left;
}

.container.right .year {
  left: -93px;
  box-sizing: border-box;
  text-align: right;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: calc(50% - 22px);
  background: #c70202f5;
  border-radius: 9px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
  box-sizing: border-box;
  background-repeat:no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.container.left .icon {
  right: 35px;
  box-sizing: border-box;
}

.container.right .icon {
  left: 35px;
  box-sizing: border-box;
}
#light-bulb {
  background-image: url(../images/icons/light-bulb.svg)
}

#pong, #pong2 {
  background-image: url(../images/icons/pong.svg);
}

#microchip, #microchip2, #microchip3, #microchip4 {
  background-image: url(../images/icons/microchip.svg);
}

#invader {
  background-image: url(../images/icons/invader.svg)
}

#novosel {
  background-image: url(../images/icons/novoselmushroom.svg)
}

#joystick, #joystick2, #joystick3 {
  background-image: url(../images/icons/joystick.svg);
}

#hedgehog {
  background-image: url(../images/icons/sonic.svg)
}

#cd-rom, #cd-rom2 {
  background-image: url(../images/icons/game-cd.svg)
}

#ps-icn {
  background-image: url(../images/icons/ps_icon.svg);
}

#threed-icn {
  background-image: url(../images/icons/3d-icon.svg);
}
#eth-icn {
  background-image: url(../images/icons/ethernet-icon.svg);
}

#xbx-icn, #xbx-icn2 {
  background-image: url(../images/icons//xbx-icon.svg)
}

#hd-icn {
  background-image: url(../images/icons/hd-icon.svg)
}

#headset, #headset2, #headset3 {
  background-image: url(../images/icons/headset.svg);
}

#multiplayer, #multiplayer2 {
  background-image: url(../images/icons/online-game.svg);
}

#fourk-icn {
  background-image: url(../images/icons/4k-icon.svg);
}

.container .content {
  padding: 24px 65px 23px 23px;
  background: #ffffff;
  position: relative;
  border: 1px solid #00000013;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container.right .content {
  padding: 24px 15px 23px 65px;
  box-sizing: border-box;
}

.container .content h2 {
  margin: 5px 0 5px 0;
  font-size: 18px;
  font-weight: normal;
  color: #c70202f5;
  box-sizing: border-box;
}

.container .content p {
  margin: 0;
  font-size: 0.85vw;
  color: #000000;
  box-sizing: border-box;
  padding-bottom: 16px;
}

.container .content span {
  margin: 0;
  font-size: 12px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  box-sizing: border-box;
}

.container .content span a {
  font-weight:normal;
}

figcaption .source-link {
  font-style: italic;
  vertical-align: super;
  font-size: 10px;
  text-decoration: none;
}

#brown-box {
  width: 25%;
  border: 1px solid #00000015;
  float: right;
  margin: 1%;
  box-sizing: border-box;
  max-width: 240px;
}

#brown-box img {
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

#brown-box figcaption {
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;

}

.img-box, #et-box {
  width: 40%;;
  border: 1px solid #00000015;
  float: right;
  margin: 1%;
  box-sizing: border-box;
  text-align: center;
  max-width: 180px;
}

.img-box img, #et-box img{
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.img-box figcaption, #et-box figcaption {
  padding: 0 5px 5px 5px;
  font-size: 11px;
  font-weight: bold;
}

#et-box {
  width:25%;
}

footer{
    background-color: #3B3B3B;
    height: 77px;
    display: inline-flex;
    grid-row-start: 3;
    grid-row-end: 4;
}
.ftleft {
    color: #bebebe;
    width: 100%;
    text-align: left;
    padding: 1em;
    box-sizing: border-box;
}

.ftleft i {
  height: 33px;
  font-size: 25px;
  padding: 0px 4px 7px 0;
}

.ftleft a, .ftleft a:link {
  text-decoration: none;
  color: #bebebe;
}

.ftleft a:visited, .ftleft a[href^="mailto"], .ftright a:visited{
  color: inherit;
}

.ftleft p,.ftright p {
  font-size: 12px;
}
.ftright {
    color: #bebebe;
    width: 100%;
    text-align: right;
    padding: 1em;
    box-sizing: border-box;
}


@media (max-width: 1330px) {

  .list-inline > li {
    width: calc(100% / 9);
  }

  .list-inline > li a {
    padding: 10px 0px 10px 0px;
  }
}

@media (max-width: 768px) {
  
  body {
    padding: 0 40px 0 40px;
  }

  header > p {
    line-height: 75px;
    font-size: 20px;
  }
  header img {
    height: 60px;
    padding: 10px 5px 10px 10px;
  }

  .timeline::after {
    left: 35px;
  }

  .container {
    width: 100%;
  }

  .container.top {
    padding: 0 0 0 0;
  }

  .container.right {
    left: 0%;
  }

  .container.right, .container.left {
    margin-bottom: -25px;
    padding-left: 73px;
    padding-right: 5px;
  }

  .container.top::after {
    left: 10px;
  }

  .container.left::after, .container.right::after {
    top: 75px;
    left: 27px;
  }

  .container.top::before{
    left: -277px;
    top: 380px;
    width: 624px;
    height: 2px;
  }
  .container.left::before, .container.right::before {
    top: 82px;
    left: 35px;
    border-color: transparent #c70202f5 transparent transparent;
  }

  .container.top .year {
    left: 10px;
    top: 90px;
    font-size: 16px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
}

  .container.left .year, .container.right .year {
    right: auto;
    top: 117px;
    left: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
  }

  .container.top .icon {
    top: 29px;
    left: 10px;
    height: 50px;
    width: 50px;
    background-size: 40px;
  }

  .container.left .icon, .container.right .icon {
    right: auto;
    left: 85px;
    top: 63px;
  }

  .container.top .content {
    padding: 20px 30px 30px 69px;
    box-sizing: border-box;
  }

  .container.left .content, .container.right .content {
    padding: 30px 15px 30px 60px;
  }

  .container .content p {
    font-size: 12px;
  }

  .img-box, #et-box {
    max-width: 90px;
  }

  .list-inline > li {
    padding: 0px 5px 0px 5px;
  }

  .list-inline > li a {
    font-weight: 700;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
  }
}
@media (max-width: 725px) {

  body {
    padding: 0 20px 0 20px;
  }

  header nav li {
    width: 50%;
  }

  header nav a {
  line-height: 40px;
  }

  header nav ul {
    width: 100%;
    text-align: center;
  }

  .list-inline > li {
    padding: 0px 0px 0px 0px;
  }

  .list-inline > li a {
    font-size: 11px;
  }

}
@media (max-width: 470px) {

  body {
    padding: 0 0 0 0;
  }

  header img {
    height: 50px;
  }

  header > p {
    line-height: 60px;
    font-size: 26px;
  }

  header nav a {
    line-height: 40px;
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: #ffffff15;
  }

  .panel {
    margin: 0px 5px 5px 5px;
    padding: 5px 0 29px 0;
  }

  .timeline {
    margin: 0 auto 0 auto;
  }

  .timeline::after {
    left: 22px;
  }

  .container {
    width: 100%;
  }
  .container.top {
    padding: 0 0 0 0;
  }

  .container.right {
    left: 0%;
  }

  .container.right, .container.left {
    margin-bottom: -25px;
    padding-left: 46px;
    padding-right: 1px;
  }
  .container.top::after {
    left: 10px;
  }
  .container.left::after, 
  .container.right::after {
    top: 39px;
    left: 14px;
    z-index: 2;
  }

  .container.top::before{
    left: -359px;
    top: 433px;
    width: 762px;
    height: 2px;
  }

  .container.left::before, .container.right::before {
    top: 46px;
    left: 25px;
    border-color: transparent #c70202f5 transparent transparent;
  }

  .container.top .year {
    left: 4px;
    top: 69px;
    font-size: 10px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
  }

  .container.left .year, .container.right .year {
    right: auto;
    top: 62px;
    left: 4px;
    font-size: 10px;
    font-weight: 700;
    background-color:#ffffff;
    padding: 4px;
    border: solid 1px #c70202f5;
    border-radius: 5px;
    z-index: 2;
  }

  .container.top .icon {
    top: 31px;
    left: 5px;
    height: 36px;
    width: 36px;
    background-size: 25px;
  }

  .container.left .icon, .container.right .icon {
    right: auto;
    left: 54px;
    top: 32px;
    height: 30px;
    width: 30px;
    background-size: 25px;
  }

  .container.top .content {
    padding: 10px 10px 30px 45px;
    box-sizing: border-box;
  }

  .container.left .content, .container.right .content {
    padding: 10px 10px 0px 43px;
  }

  .container .content p {
    font-size: 10px;
  }

  .container .content h1 {
    font-size: 20px;
  }

  .container .content h2 {
    font-size: 12px;
  }

  .container .content span {
    font-size: 10px;
    line-height: 24px;
  }

  .img-box, #et-box {
    max-width: 90px;
  }

  #brown-box {
    width: 130px;
  }

  #brown-box figcaption, .img-box figcaption, #et-box figcaption {
    padding: 0 2px 2px 2px;
    font-size: 8px;
  }

    figcaption .source-link {
      font-size: 7px;
  }

  .sticky-nav {
    margin: 0 5px;

  }
  .list-inline {
    list-style: none;
    padding: 0 5px 0 5px;
    text-align: center;
  }

  .list-inline > li {
    padding: 0px 0px 0px 0px;
    margin-right: -3px;
    margin-left: -2px;
  }

  .list-inline > li a {
    font-weight: 700;
    font-size: 8px;
    padding: 10px 0px 10px 0px;
  }
  
  .ftleft p, .ftright p {
    font-size: 8px;
}
}
@media (max-width: 420px) {

  header img {
    height: 45px;
  }

  header > p {
    line-height: 65px;
    font-size: 17px; 
  }
}
@media (max-width: 375px) {
  
  header > p {
    font-size: 14px;
  }

}